
!.env.example
# Build
# Coverage
# Dependencies
# Environment
# IDE
# Logs
# OS
# Prisma
# Temp
*.cover
*.log
*.swo
*.swp
*.tsbuildinfo
*~
.DS_Store
.coverage
.env
.env.*
.idea/
.pnp
.pnp.js
.vscode/
Thumbs.db
build/
coverage/
dist/
logs/
node_modules/
npm-debug.log*
packages/api/prisma/*.db
packages/api/prisma/*.db-journal
temp/
tmp/
